<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <span>欢迎：<%= username %></span>
    <p>Welcome to <%= title %></p>
    <script>
      console.log('shiyan')
      console.log()
    </script>
  </body>
</html>
